<!DOCTYPE html>
<html lang="en">
<head>
<title>pedido</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img id="logonav" src="img/logo.jpg" alt="LogoTienda">
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="/">Inicio</a></li>
					<li><a href="/mujer">Mujer</a></li>
					<li><a href="/hombre">Hombre</a></li>
					<li><a href="/accesorios">Accesorios</a></li>
					<li><a href="/contacto">Contáctanos</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()"><button type="button"
							id="botoncesta" class="btn btn-light">Carrito</button></li>
					<li sec:authorize="!isAuthenticated()"><a href="registrarse"><span
							class="glyphicon glyphicon-user"></span> Regístrate</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="login"><span
							class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
					<li id="usu" sec:authorize="isAuthenticated()">Usuario: <span
						sec:authentication="name">Username</span> <a href="logout">Cerrar
							sesión</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section>
		<h3>Carrito</h3>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div id="producto" class="col-lg-12 col-md-12 col-sm-12"
					th:each="producto : ${pedido.productos}">
					<img id="imgproducto" th:src="${producto.imgUrl}"
						alt="Imagen no disponible">
					<h6 th:text="${producto.nombre}"></h6>
					<h6 th:text="${producto.precio} +'€'"></h6>
				</div>
				<section>
				<h4 th:text="'PRECIO TOTAL: ' + ${pedido.precioPedido} + '€'"></h4>
				<h4 >METODO DE PAGO: CONTRAREEMBOLSO</h4>
				</section>


			</div>
		</div>
	</section>




</body>
</html>
