<!DOCTYPE html>
<html lang="en">
<head>
<title>registro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img id="logonav" src="img/logo.jpg" alt="LogoTienda">
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="/">Inicio</a></li>
					<li><a href="/mujer">Mujer</a></li>
					<li><a href="/hombre">Hombre</a></li>
					<li><a href="/accesorios">Accesorios</a></li>
					<li><a href="/contacto">Contáctanos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a href="login"><span
							class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
					<li id="usu" sec:authorize="isAuthenticated()">Usuario: <span
						sec:authentication="name">Username</span> <a href="logout">Cerrar
							sesión</a>
					</li>
				</ul>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div style="padding-top: 3%; padding-bottom: 3%;"
				class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-12 text-center bg-dark">
				<h2 style="text-align: center; color: aliceblue;">
					¡Registrate y empieza a comprar!</h2>
				<br>
				 <form name="form" autocomplete="off" th:action="@{/guardarregistrarse}" th:object="${usuario}"
					method="post">
                    <div id="filaForm">
                      <div id="bloqueDatos">
                        <div id="bloqueNombre">
                          <label for="nombre" style="color:aliceblue">Nombre de usuario&nbsp;</label>
                          <input type="text" th:field="*{user}" />
                        </div><br>
                        <div id="bloqueemail">
                          <label for="email" style="color:aliceblue">Correo electrónico: &nbsp;</label>
                          <<input type="text" th:field="*{correo}" />
                        </div><br>
                        <div id="bloquetelefono">
                          <label for="telefono" style="color:aliceblue">Contraseña: &nbsp;</label>
                          <input type="password" th:field="*{password}" />
                       
                      <div id="bloquePrivacidad">
                        <input type="checkbox" name="privacidad" id="privacidad">
                        <label for="privacidad" style="color:aliceblue">Política de privacidad</label><br><br>
                        <button type="submit" value="enviar" name="submit">Registrar</button>
                  </form>
				
			</div>
		</div>
	</div>
	<br>



</body>
</html>
